@using DlhSoft.Web.Mvc;
@{
    ViewBag.Title = "GanttChartView";
}

<div class="row">
    <div class="col-md-12">
        <h2>GanttChartView</h2>
        @(Html.GanttChartView(component =>
        {
            // Settings.
            component.Columns[(int)ColumnType.Content].Header = "Activity";
            // CSS classes.
            component.StandardBarCssClass = "dsgc-standard-bar";
            component.StandardCompletedBarCssClass = "dsgc-standard-completed-bar";
            // Item change action set up (post).
            component.ItemChangeAction = "UpdateGanttChartItem";
        }))
    </div>
</div>
