@using DlhSoft.Web.Mvc.Pert;
@{
    ViewBag.Title = "NetworkDiagramView";
}

<div class="row">
    <div class="col-md-12">
        <h2>NetworkDiagramView</h2>
        @(Html.NetworkDiagramView())
    </div>
</div>
